﻿
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to the Makislavian Alert System</h2>

<form action="ViewAll">
    <input type="submit" value="View all alerts"/>
</form>
<br />
<form action="ViewZip">
    Search alerts by ZIP code:
    <input type="text" name="zip"/>
    <input type="submit" value="Search"/>
</form>
<br />
<form action="ViewLoc">
    Search alerts by region:
    <select name="loc">
        <option value="0">All Service Areas</option>
        <option value="1">Central Makislavia</option>
        <option value="2">South Makislavia</option>
        <option value="3">East Makislavia</option>
        <option value="4">North Makislavia</option>
    </select>
    <input type="submit" value="Search" />
</form>

