﻿@model List<AlertEntry>
@{
    ViewBag.Title = "ViewRaw";
}

<h2>ViewRaw</h2>
<div>
    <table>
        <tr>
            <th>
                GUID
            </th>
            <th>
                TYPE
            </th>
            <th>
                LOC
            </th>
            <th>
                ST
            </th>
            <th>
                ET
            </th>
            <th>
                MSG
            </th>
        </tr>
        @foreach (var i in Model.ToList())
        {
            <td>@Html.Encode(i.guid)</td>
            <td>@Html.Encode(i.type)</td>
            <td>@Html.Encode(i.location)</td>
            <td>@Html.Encode(i.starttime)</td>
            <td>@Html.Encode(i.endtime)</td>
            <td>@Html.Encode(i.indefinite)</td>
            <td>@Html.Encode(i.message)</td>
        }
    </table>
</div>
