﻿@using MakiNet.Models
@model List<MakiNet.Models.Alert>
@{
    ViewBag.Title = "ViewAll";
}

<h2>Active Weather Alerts</h2>
@if (Model.Count == 0)
{
    <p>There are no active weather alerts.</p>
}
@foreach (var i in Model)
{
    <h3>@Resources.AlertStrings[(int)i.myType]</h3>
    <p>Start time: @i.startTime.ToShortDateString() @i.startTime.ToShortTimeString()</p>
    <p>End time: @i.endTime.ToShortDateString() @i.endTime.ToShortTimeString()</p>
    <p>@i.message</p>
   
}

