﻿@using MakiNet.Models
@using System.Web.Mvc.Html
@model List<MakiNet.Models.Alert>
@{
    ViewBag.Title = "ViewAll";
}
<head>
    <style>
        * {
            font-family: sans-serif;
        }
        .green-bar {
            background-color: green;
            color: white;
            padding: 10px;
        }
        .orange-bar {
            background-color: orange;
            color: white;
            padding: 10px;
        }
        .red-bar {
            background-color: red;
            color: white;
            padding: 10px;
        }

        pre {
            white-space: pre-wrap;       /* Since CSS 2.1 */
            white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
            white-space: -pre-wrap;      /* Opera 4-6 */
            white-space: -o-pre-wrap;    /* Opera 7 */
            word-wrap: break-word;       /* Internet Explorer 5.5+ */
        }
    </style>
</head>

<h2>Active Alerts</h2>
@if (Model.Count == 0)
{
    <p>There are no active alerts.</p>
}
else
{
    <p>There are @Model.Count active alerts.</p>
}

    <table>
        @foreach (var i in Model)
        {
            <tr>
                <td colspan="4">
                    <strong>
                        <div class="@Resources.AlertSeverity[(int) i.myType]">@Resources.AlertStrings[(int) i.myType]</div></strong></td>
            </tr>
            <tr>
                <td><strong>Location: </strong></td>
                <td colspan="3">@Resources.LocationCodes[(int) i.myLoc]</td>
            </tr>
            <tr>
                <td><strong>Start Time: </strong></td>
                <td>@i.startTime.ToShortDateString() @i.startTime.ToShortTimeString()</td>
                <td> <strong> End Time: </strong></td>
                <td>
                    @{
                        string endDate;
                        if (i.endTime == DateTime.MaxValue)
                        {
                            endDate = "Until further notice";
                        }
                        else
                        {
                            endDate = i.endTime.ToShortDateString() + " " + i.endTime.ToShortTimeString();
                        }
                    }
                    @endDate
                </td>
            </tr>
            <tr>
                <td><strong>Message: </strong></td>
                <td colspan="3"><pre>@i.message</pre></td>
            </tr>
        }
    </table>


